.headerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  border-bottom: 1px solid var(--grey-darken);
  background-color: var(--black);
  position: absolute;
  width: 100%;
  z-index: 1;

  .navbar {
    justify-content: space-between;
    width: 100%;
  }

  .nav-item {
    .nav-link {
      color: var(--grey-lighter);
      font-family: "Red Hat Display";
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.16px;
      line-height: 28px;
      text-transform: capitalize;
      cursor: pointer;
    }
  }

  &_left {
    display: flex;
    button {
      margin-right: 10px;
    }
  }
}