.button {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  text-align: center;
  margin-right: 10px;
  padding: 0 20px;
  text-transform: uppercase;
  @media (max-width: 767px) {
    &.mobileFullWidth {
      width: 100%;
    }
  }
  &.hover {
    transition: all .2s ease-in-out;
    &:hover {
      text-decoration: none;
      transform: scale(1.03);
    }
  }
  &:active,
  &:focus {
    outline: none;
  }
  &.margin {
    &_10 {
      margin-right: 10px;
    }
    &_35 {
      margin-right: 35px;
    }
  }
  &.size {
    &_normal {
      height: 50px;
      min-width: 180px;
      border-radius: 14px;
      font-size: 10px;
      color: #ffffff;
      font-family: Montserrat-Regular;
      font-weight: 900;
      letter-spacing: 2.1px;
      line-height: 24px;
      @media (max-width: 767px) {
        height: 47px;
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
    &_small {
      min-width: 111px;
      height: 33px;
      border-radius: 8px;
      font-size: 12px;
      color: #ffffff;
      font-family: "Red Hat Display";
      font-weight: 400;
      letter-spacing: -0.16px;
      line-height: 24px;
    }
    &_extraSmall {
      min-width: 43px;
      height: 43px;
      border-radius: 10px;
      font-size: 16px;
      color: #ffffff;
      font-family: "Red Hat Display";
      font-weight: 400;
      letter-spacing: -0.16px;
      line-height: 24px;
    }
  }
  &.theme {
    &_green {
      background-color: var(--green);
      box-shadow: 3px 3px 20px rgba(0, 133, 44, 0.47);
    }
    &_ghost {
      border: 1px solid var(--gray-darken);
      background-color: var(--black);
      &:hover {
        border-color: var(--green);
      }
    }
  }
  & + .button {
    margin-right: 0;
  }
  .body{
    height: calc(100% - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    .body_icon {
      & + .body_text {
        padding-left: 15px;
      }
    }
  }
}