.content {
  color: var(--grey);
  padding: 80px 10px;
  h1 {
    font-size: 44px;
    color: var(--white);
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight-bold);
  }
  h2 {
    font-size: 30px;
    color: var(--white);
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight-bold);
    margin-top: 48px;
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    font-size: 22px;
    color: var(--white);
    font-family: var(--font-primary);
    font-weight: var(--font-primary-weight-bold);
    margin-top: 32px;
  }
  p {
    font-family: var(--font-secondary);
    font-weight: var(--font-secondary-weight-normal);
    font-size: 21px;
  }
  a, a:hover, a:visited {
    color: var(--green);
    text-decoration: none;
  }
  ul {
    list-style: disk;
    font-family: var(--font-secondary);
    font-weight: var(--font-secondary-weight-normal);
    font-size: 21px;
  }
  &-sidebar {
    padding: 80px 10px;
    ul {
      list-style: disk;
      font-family: var(--font-secondary);
      font-weight: var(--font-secondary-weight-normal);
      font-size: 21px;
      li {
        a {
          color: var(--grey);
          font-size: 18px;
          &:hover, &:active {
            color: var(--green);
            text-decoration: none;
          }
        }
      }
    }
  }
}
