.tabs {
  margin-top: 284px;
  margin-bottom: 144px;
  background-color: var(--black);
  @media (max-width: 767px) {
    margin-top: 96px;
    margin-bottom: 64px;
  }
  h3 {
    color: var(--white);
    font-family: var(--font-primary);
    font-size: 32px;
    font-weight: var(--font-primary-weight-bold);
    line-height: 40px;
    padding: 0 0 24px 0;
    margin: 0;
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .tabs_header {
    @media (max-width: 767px) {
      border-bottom: 1px solid var(--grey-darken);
    }
    .nav-tabs {
      color: var(--grey);
      font-family: var(--font-secondary);
      font-weight: var(--font-secondary-weight-normal);
      flex-direction: column;
      border: none;
      @media (max-width: 767px) {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        height: 60px;
      }
      .nav-item {
        display: flex;
        align-items: center;
        @media (max-width: 767px) {
          padding-left: 15px;
          &:first-of-type {
            padding-left: 0;
          }
        }
        .nav-link {
          transition: all 0.3s ease-in-out;
          border-left: 1px solid var(--grey);
          border-radius: 0;
          border-bottom: none;
          border-right: none;
          border-top: none;
          background-color: transparent;
          cursor: pointer;
          color: var(--grey);
          font-size: 20px;
          line-height: 40px;
          padding: 0 0 2px 16px;
          &.active {
            border-left: 1px solid var(--green);
            transition: color 0.1s linear;
          }
          @media (max-width: 767px) {
            font-size: 16px;
            border-left: none;
            padding: 8px 16px;
            &.active {
              background-color: transparent;
              color: var(--green);
              border-left: none;
              border-bottom: 2px solid var(--green);
            }
          }
        }
      }
    }
  }
  .tab-content {
    @media (max-width: 767px) {
      margin-top: 37px;
    }
    .tab-pane {
      padding-left: 6.1%;
      img {
        border-radius: 9px;
        margin: 0 0 48px;
        height: 347px;
        @media (max-width: 767px) {
          height: auto;
        }
      }
      h2 {
        color: var(--white);
        font-family: var(--font-primary);
        font-size: 40px;
        font-weight: var(--font-primary-weight-bold);
        line-height: 48px;
        margin-bottom: 8px;
        text-transform: uppercase;
        @media (max-width: 767px) {
          font-size: 20px;
          line-height: 32px;
          padding-top: 0;
          letter-spacing: -0.02em;
        }
      }
      p {
        color: var(--grey);
        font-family: var(--font-secondary);
        font-size: 20px;
        font-weight: var(--font-secondary-weight-normal);
        line-height: 32px;
        margin-bottom: 8%;
        @media (max-width: 767px) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}
//::-webkit-scrollbar {
//  transform: translateY(20px);
//}
