<script>
fetch("https://api.github.com/repos/core-coin/wallet/tags")
	.then(function(response) {
		return response.json();
	})
	.then(function(jsonResponse) {
		var walletDownload = "https://github.com/core-coin/wallet/releases/latest";
		var walletOS = "Releases for all platforms";
		var tagLatest = jsonResponse[0].name;
		var tagLatestFormatted = tagLatest.replace(/\./g, "-");
		if (navigator.platform.indexOf("Win")!=-1) {
			walletDownload = "https://github.com/core-coin/wallet/releases/download/" + tagLatest + "/CoreWallet-win64-" + tagLatestFormatted + ".zip";
			walletOS = "Download for ❖ Windows";
		} else if (navigator.platform.indexOf("Mac")!==-1) {
			walletDownload = "https://github.com/core-coin/wallet/releases/download/" + tagLatest + "/CoreWallet-macosx-" + tagLatestFormatted + ".dmg";
			walletOS = "Download for Mac OS <em class='oji grayscale'>🍏</em>";
		} else if (navigator.platform.indexOf("X11")!=-1) {
			walletDownload = "https://github.com/core-coin/wallet/releases/latest";
			walletOS = "Download for UNIX <em class='oji grayscale'>🐧</em>";
		} else if (navigator.platform.indexOf("Linux")!=-1) {
			walletDownload = "https://github.com/core-coin/wallet/releases/latest";
			walletOS = "Download for Linux <em class='oji grayscale'>🐧</em>";
		}
		var area = document.getElementById("walletDownload");
		area.href = walletDownload;
		area.innerHTML = walletOS;
		document.getElementById("walletVer").innerHTML = tagLatest;
	});
</script>
