.select_label {
  margin-top: 28px;
  color: var(--grey);
  font-family: var(--font-secondary);
  font-size: 15px;
  font-weight: var(--font-secondary-weight-normal);
  line-height: 30px;
  margin-bottom: 5px;
  @media (max-width: 767px) {
    margin-top: 23px;
  }
}
.select_input {
  padding: 0 20px;
  margin-bottom: 20px;
  height: 43px;
  border-radius: 5px;
  border: 1px solid var(--gray-darken);
  background-color: var(--black-lighter);
  color: var(--white);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: var(--font-secondary-weight-normal);
  line-height: 24px;
  -webkit-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, var(--white) 50%),
  linear-gradient(135deg, var(--white) 50%, transparent 50%);
  background-position: calc(100% - 16px) 13px, calc(100% - 12px) 13px;
  background-size: 4px 4px, 4px 4px;
  background-repeat: no-repeat;
  &:focus {
    background-color: var(--black-lighter);
    color: var(--white);
    border-color: var(--gray-darken);
    box-shadow: 0 0 5px 0 var(--green);
  }
}
