.search-page {
    padding: 80px 0;
    .search {
        width: auto;
        &__overlay {
            display: none!important;
        }
        &_box {
            width: 100%!important;
        }
        .search_box__icon {
            border-left: none;
            border-radius: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .results {
            position: static;
            margin-top: 55px;
            border: none;
            backdrop-filter: none;
        }
    }
    
}