.search {
  width: min-content;
  &__overlay {
    width: 97vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
  }
  @media (min-width: 1200px) {
    &__overlay {
      left: -67vw;
    }
  }
  .search_box {
    position:relative;
    min-width:43px;
    width:0%;
    height:43px;
    float:right;
    overflow:hidden;
    transition: width 0.5s;
    border-radius: 10px;
    margin-right: 9px;
    @media (max-width: 768px) {
      width: 95%;
      float: left;
      .search_box__icon,
      .search_box__submit {
        border-radius: 0 10px 10px 0;
        border-left: none;
      }
    }
    &__input {
      top:0;
      right:0;
      border-radius: 10px;
      outline:0;
      width:100%;
      height:43px;
      margin:0;
      padding:0px 55px 0px 20px;
      background-color: var(--black);
      border: 1px solid var(--gray-darken);
      color: var(--grey-lighter);
      font-family: 'Red Hat Display';
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.16px;
      line-height: 28px;
      &::placeholder {
        color: var(--grey-lighter);
      }
    }
    &__icon,
    &__submit {
      width: 43px;
      height: 43px;
      border-radius: 10px;
      border: 1px solid var(--gray-darken);
      background-color: var(--black);
      color: var(--white);
      display: flex;
      padding: 12px 0;
      align-content: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      outline: 0;
      text-align: center;
      cursor: pointer;
    }
    &__open {
      width: 100%;
      .search_box__icon,
      .search_box__submit {
        border-radius: 0 10px 10px 0;
        border-left: none;
      }
    }
    @media (min-width: 900px) {
      &__open {
        width: 575%;
      }
    }
  }
  .results {
    position: absolute;
    top: 100%;
    color: var(--white);
    left: -143%;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid var(--grey);
    background: rgba(28, 28, 36, 0.9);
    backdrop-filter: blur(10px);
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
      mark {
        padding: 0;
        background-color: inherit;
        color: var(--green);
      }
      p {
      font-family: 'Red Hat Display';
      font-size: 18px;
      color: var(--grey)
      }
    }

  }
}