.community {
    color: var(--white);
    padding: 20px 0 100px;
    &_menu {
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
        top: 0;
        left: 0;
        ul {
            list-style: none;
            position: relative;
            &::after {
                position: absolute;
                content: '';
                display: block;
                left: 0;
                top: 0;
                width: 1px;
                height: 100%;
                color: white;
                z-index: 999;
            }
            @media (min-width: 768px) and (max-width: 1024px){
              padding-left: 0;
            }
            li {
              padding-bottom: 10px;
              
              &.active {
                a {
                  color: var(--white);
                  &::before {
                    color: var(--green);
                  }
                }
              }
              a {
                color: var(--grey);
                font-family: 'Red Hat Display';
                font-size: 22px;
                font-weight: 400;
                letter-spacing: -0.22px;
                flex-direction: column;
                cursor: pointer;
                &:hover {
                  color: var(--white);
                  text-decoration: none;
                  &::before {
                    color: var(--green);
                  }
                }
                &::before {
                  content: '\2022';
                  color: transparent;
                  font-weight: bold;
                  display: inline-block;
                  width: 1em;
                }
              }
            }
          }
    }
}