.community {
  background-image: url(../../images/sphere.png);
  background-size: 800px 800px;
  background-repeat: no-repeat;
  background-position: left 60px;
  background-attachment: fixed;

  background-color: var(--black);
  position: relative;
  &_row {
    margin: 0;
  }
  &_menu {
    border-right: 1px solid var(--grey-darken);
    padding-top: 196px;
    display: flex;
    justify-content: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0;
    height: 100vh;
    @media (min-width: 991px) {
      padding-right: 75px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      background-position: -160px 100px;
    }
    .nav-tabs {
      color: var(--grey);
      font-family: 'Red Hat Display';
      font-size: 22px;
      font-weight: 400;
      letter-spacing: -0.22px;
      flex-direction: column;
      border: none;
      @media (max-width: 767px) {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        height: 42px;
        font-size: 16px;
        width: 100%;
      }
      .nav-item {
        display: flex;
        align-items: center;
        .nav-link {
          border: none;
          background-color: transparent;
          cursor: pointer;
          color: var(--grey);
          &::before{
            @media (max-width: 767px) {
              content: none;
            }
            content: '\2022';
            color: transparent;
            font-weight: bold;
            display: inline-block;
            width: 1em;
          }
          &.active {
            color: var(--green);
            @media (max-width: 767px) {
              border-bottom: 2px solid var(--green);
            }
            &::before{
              @media (max-width: 767px) {
                content: none;
              }
              background: var(--green);
              font-weight: bold;
              display: inline-block;
              width: 5px;
              height: 5px;
              box-shadow: -1px 2px 14px 3px #248b385c;
              margin-right: 18px;
              overflow: visible;
              border-radius: 50%;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  &_content {
    flex: 1;
    height: 100%;
    padding: 125px 60px 80px;
    position: relative;
    @media (min-width: 768px) {
      background-color: var(--black);
    }
    @media (min-width: 768px) and (max-width: 991px) {
      padding: 200px 60px 80px 41px;
    }
  }
}

