.solutions {
  border-top: 1px solid var(--grey-darken);
  background-color: var(--black-darken);
  background-image: url(../../images/sphere_with_glow.png);
  background-size: 50%;
  background-position: left center;
  background-repeat: no-repeat;
  display: flex;
  padding: 15% 0;
  @media (max-width: 767px) {
    background-size: contain;
    background-position: -26px 10%;
    padding-bottom: 15%;
    .container {
      padding-top: 210px;
    }
  }
  .title {
    margin-bottom: 25px;
  }
  .description {
    font-size: 22px;
    line-height: 32px;
  }
  &_block {
    margin-top: 8%;
    border-radius: 14px;
    border: 1px solid var(--grey-darken);
    background-color: rgba(28, 28, 36, 0.9);
    padding: 7% 11%;
    h4 {
      color: var(--white);
      font-family: Montserrat-Regular;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.6px;
    }
    p {
      color: var(--grey);
      font-family: 'Red Hat Display';
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}