.solutions {
  border-top: 1px solid var(--grey-darken);
  background-color: var(--black-darken);
  display: flex;
  padding: 8.1% 0 13.2%;
  @media (max-width: 991px) {
    background-image: url(../../images/sphere_with_glow.webp);
    background-repeat: no-repeat;
    background-size: 520px;
    background-position: 95px 0;
    padding-bottom: 15%;
    .container {
      padding-top: 210px;
    }
  }
  @media (max-width: 767px) {
    background-size: contain;
    background-position: -26px 10%;
  }
  &_background {
    @media (min-width: 991px) {
    background-image: url(../../images/sphere_with_glow.webp);
    bbackground-size: 924px 834px;
    background-repeat: no-repeat;
    padding-bottom: 15%;
    height: 834px;
    position: absolute;
    top: -45px;
    width: 924px;
    left: -378px;
    }
  }
  .title {
    margin-bottom: 21px;
    padding-top: 9px;
  }
  .description {
    font-size: 22px;
    line-height: 32px;
  }
  &_block {
    margin-top: 11%;
    border-radius: 14px;
    border: 1px solid var(--grey-darken);
    background-color: rgba(28, 28, 36, 0.9);
    padding: 6.1% 10.3% 5.3%;
    h4 {
      color: var(--white);
      font-family: var(--font-primary);
      font-size: 20px;
      font-weight: var(--font-primary-weight-bold);
      text-transform: uppercase;
      margin-bottom: 17px;
      line-height: 24px;
    }
    p {
      color: var(--grey);
      font-family: var(--font-secondary);
      font-size: 15px;
      font-weight: var(--font-secondary-weight-normal);
      line-height: 22px;
      margin-bottom: 26px;
    }
  }
}
