.content {
    color: var(--grey);
    h1 {
        font-size: 44px;
        color: var(--white);
        font-family: 'Montserrat-Bold';
    }
    h2 {
        font-size: 30px;
        color: var(--white);
        font-family: 'Montserrat-Bold';
    }
    h3 {
        font-size: 22px;
        color: var(--white);
        font-family: 'Montserrat-Bold';
    }
    p {
        font-family: 'Red Hat Display';
        font-size: 21px;
    }
    a, a:hover, a:visited {
        color: var(--green);
        text-decoration: none;
    }
    ul {
        list-style: disk;
        font-family: 'Red Hat Display';
        font-size: 21px;
    }
    &-sidebar {
        ul {
            list-style: disk;
            font-family: 'Red Hat Display';
            font-size: 21px; 
            li {
                a {
                    color: var(--grey);
                    font-size: 18px;
                    &:hover, &:active {
                        color: var(--green);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}