<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body class="has-sticky-footer">
    <header>
      <div class="topbar">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-half is-hidden-mobile">
              <a href="https://github.com/core-coin" class="icon" title="github" target="_blank">
                <img src="images/social-github.png" class="filter grayscale-100" />
              </a>
              <a href="https://twitter.com/corecoincc" class="icon" title="twitter" target="_blank">
                <img src="images/social-twitter.png" class="filter grayscale-100" />
              </a>
              <a href="https://coretalk.info" class="icon" title="coretalk" target="_blank">
                <img src="images/social-coretalk.png" class="filter grayscale-100" />
              </a>
            </div>
            <div class="column is-half has-text-right">
              <a href="/get-started" class="button is-success is-small">Get started</a>
            </div>
          </div>
        </div>
      </div>
      <div class="middlebar has-background-black">
        <div class="container">
          <div class="columns is-multiline is-mobile m-sm logo">
            <div class="column has-text-right is-gapless">
              <a href="/">
                <img class="core-padding-right" src="images/text-core.png" alt="Core" />
              </a>
            </div>
            <div class="column is-narrow is-gapless">
              <a href="/">
                <img class="corecirlce is-overlay" src="images/logo-core.png" alt="{{ site.title | default: site.github.repository_name }}" />
              </a>
            </div>
            <div class="column has-text-left is-gapless">
              <a href="/">
                <img class="core-padding-left" src="images/text-coin.png" alt="Coin" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar has-background-transparent" aria-label="main navigation">
        <div class="container">
          <input type="checkbox" id="menu" />
          <label for="menu" class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <div id="navMenu" class="navbar-menu">
            <div class="navbar-start navbar-center">
              <a href="#about" class="navbar-item is-expanded">About</a>
              <a href="#technology" class="navbar-item is-expanded">Technology</a>
              <a href="#solutions" class="navbar-item is-expanded">Solutions</a>
              <a href="#industries" class="navbar-item is-expanded">Industries</a>
              <a href="#developer" class="navbar-item is-expanded">Developer</a>
              <a href="https://wiki.corecoin.cc/" target="_blank" class="navbar-item is-expanded">Wiki</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>

    <footer class="site-footer has-background-black">
      <div class="container has-text-centered">
        <div class="menu">
          <div class="columns">
            <div class="column">
              <a href="/get-started" class="button is-success is-outlined">Get started</a>
            </div>
            <div class="column">
              <a href="https://cip.corecoin.cc" target="_blank" class="button is-success is-outlined">CIP</a>
            </div>
            <div class="column">
              <a href="https://wiki.corecoin.cc" target="_blank" download class="button is-success is-outlined">Wiki</a>
            </div>
            <div class="column">
              <a href="/branding" class="button is-success is-outlined">Brand identity</a>
            </div>
          </div>
        </div>
        <div class="social">
          <div class="columns">
            <div class="column">
              <a href="https://github.com/core-coin" target="_blank" class="github">
                <img src="images/social-github.png" class="filter grayscale-100" />Github
              </a>
            </div>
            <div class="column">
              <a href="https://coretalk.info" target="_blank" class="coretalk">
                <img src="images/social-coretalk.png" class="filter grayscale-100" />Core Talk
              </a>
            </div>
            <div class="column">
              <a href="https://twitter.com/corecoincc" target="_blank" class="twitter">
                <img src="images/social-twitter.png" class="filter grayscale-100" />Twitter
              </a>
            </div>
            <div class="column">
              <a href="https://coretalk.info/discord" target="_blank" class="discord">
                <img src="images/social-discord.png" class="filter grayscale-100" />Discord
              </a>
            </div>
          </div>
        </div>
        <div class="logo">
          <a href="/"><img src="images/logo-corecoin.png" alt="Core Coin" /></a>
        </div>
        <div id="contact" class="info">
          <a href="mailto:{{ site.email }}" title="e-mail" target="_blank">
            <em class="oji grayscale">✉️</em>{{ site.email }}
          </a>
          {% if site.donate.xce %}
          <a href="core:{{ site.donate.xce }}" title="Donate" target="_blank">
            <em class="oji grayscale">⚛</em>donate = get atoms
          </a>
          {% endif %}
        </div>
        <div class="site-footer-copy">Copyright © 2018-{{ site.time | date: '%Y' }} Core Foundation. All Rights Reserved.</div>
        {% if site.github.is_project_page %}
          <div class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">
            {% if site.github.owner_gravatar_url %}<img src="{{ site.github.owner_gravatar_url }}" alt="{{ site.github.owner_name }}" class="gravatar" /> {% endif %}{{ site.github.owner_name }}
          </a>.</div>
        {% endif %}
      </div>
    </footer>

  </body>
</html>
