@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 400;
  font-style: normal;
  src: url('../src/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-weight: 400;
  font-style: normal;
  src: url('../src/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 400;
  font-style: normal;
  src: url('../src/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 400;
  font-style: normal;
  src: url('../src/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 400;
  font-style: normal;
  src: url('../src/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('../src/fonts/Montserrat-Regular.ttf') format('truetype');
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Montserrat-Light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 970px;
  }
}
.title {
  color: var(--white);
  font-family: Montserrat-Medium;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 37px;
  text-transform: uppercase;
}

.title span {
  color: var(--green);
}

.preTitle {
  color: var(--grey-lighter);
  font-family: Montserrat-Regular;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4.1px;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.description {
  color: var(--grey);
  font-family: 'Red Hat Display';
  font-size: 26px;
  font-weight: 400;
  letter-spacing: -0.26px;
  line-height: 28px;
}

.img-responsive {
  height: auto;
  width: 100%;
  display: block;
}

.scroll-down .headerNavbar {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .headerNavbar {
  transform: none;
}

/*media*/

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
  .title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.66px;
    line-height: 1;

  }
  .preTitle {
    font-size: 9px;
    letter-spacing: 3.6px;
  }
  .description {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (min-width: 1441px){
  .title {
    font-size: 44px;
    letter-spacing: -1.32px;
    line-height: 48px;
  }
  .preTitle {
    font-size: 16px;
    letter-spacing: 6.4px;
    line-height: 22px;
    margin-bottom: 35px;
  }
}

:root {
  --green: #46b549;
  --green-darken: #42b649;
  --green-lighter: #64cc6e;
  --grey: #77778c;
  --grey-lighter: #aeaebf;
  --grey-darken: #303040;
  --grey-dark: #4d4d66;
  --gray: #636378;
  --gray-darken: #424259;
  --white-darken: #c5c5d9;
  --white: #fff;
  --black: #18181f;
  --black-lighter: #1c1c24;
  --black-darken: #14141a;
}
