.nodeCoverage {
  border-top: 1px solid var(--grey-darken);
  background-color: var(--black);
  background-image: url(../../images/map.webp);
  background-size: auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  padding: 220px 0 275px;
  @media (max-width: 767px) {
    background-position: center top;
    background-size: contain;
    .container {
      padding-top: 130px;
    }
    button {
      margin-top: 10%;
    }
  }
  @media (min-width: 768px) {
    .button {
      padding: 0 30px;
    }
  }
  .preTitle,
  .title,
  .description {
    text-align: center;
    @media (max-width: 767px) {
      text-align: left;
    }
  }
  .title {
    padding-top: 3px;
  }
  .description {
    font-size: 22px;
    margin-top: 45px;
    line-height: 28px;
    @media (min-width: 767px) {
     margin: 24px auto 120px;
     width: 58%;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &_block {
    border-radius: 14px;
    border: 1px solid #323242;
    padding: 64px 64px;
    background: linear-gradient(209.18deg, #24242E -3.47%, #1C1C24 98.64%);
    @-moz-document url-prefix() {
      border: 1px solid var(--grey-darken);
      background-color: rgba(28, 28, 36, 0.98);
    }
    @media (min-width: 1000px) {
      height: 408px;
      width: 464px;
    }
    @media (max-width: 767px) {
      padding: 12% 5%;
      margin-bottom: 0;
    }
    &-img {
      padding: 0 0 0 19px;
    }
    span {
      font-size: 14px;
      color: var(--grey);
    }
    h4 {
      color: var(--white);
      font-family: var(--font-primary);
      font-size: 20px;
      font-weight: var(--font-primary-weight-normal);
      margin-bottom: 28px;
    }
    p {
      font-family: var(--font-primary);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #77778C;
    }
    ul {
      list-style: none;
      margin-bottom: 0;
      padding: 20px 0 0 10px;
      li {
        color: var(--grey);
        font-family: var(--font-secondary);
        font-size: 15px;
        font-weight: var(--font-secondary-weight-normal);
        line-height: 41px;
        border-top: 1px solid #323242;
        display: flex;
        justify-content: space-between;
        span {
          color: var(--white-darken);
        }
        &:last-child {
          border-bottom: 1px solid #323242;
        }
      }
      li:first-child {
        border-top: none;
      }
    }
    h2 {
      color: var(--white);
      font-family: var(--font-primary);
      font-weight: var(--font-primary-weight-bold);
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 4px;
      @media (max-width: 767px) {
        font-size: 18px;
        text-align: left;
      }
    }
    &__cards {
      display: flex;
      justify-content: space-around;
      margin-bottom: 11%;
      &-card {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        border: 1px solid #323242;
        background-color: rgba(25, 25, 32, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: 0 4px;
        &::before {
          content: '';
          border-bottom: 1px solid #323242;
          position: absolute;
          top: 50%;
          width: 100%;
        }
        span {
          color: var(--white);
          font-family: var(--font-primary);
          font-size: 32px;
          line-height: 30px;
        }
      }
    }
  }
  &_block_first {
    margin-left: 60px;
  }
}
.transaction-explorer {
  margin-top: 80px;
}
.power-by {
  display: flex;
  align-items: center;
}
.block-container {
  padding: 0 8px;
}
