.contacts {
  border-top: 1px solid #292936;
  background-color: var(--black-darken);
  padding: 10% 0 2%;
  @media (max-width: 767px) {
    padding-bottom: 0;
  }
  &_left {
    border: 1px solid var(--grey-darken);
    background-color: rgba(25, 25, 32, 0.5);
    border-radius: 15px;
    padding: 8% 7.7% 4%;
    h2 {
      text-transform: uppercase;
      font-family: Montserrat-Bold;
      font-size: 32px;
      letter-spacing: -1px;
      line-height: 36px;
      color: var(--white);
      margin-bottom: 13px;
    }
    &__block {
      padding: 14px 0;
      p {
        color: var(--white);
        font-family: Montserrat-Bold;
        font-size: 20px;
        letter-spacing: -0.6px;
        margin-bottom: 0;
        line-height: 24px;
      }
      a {
        color: var(--grey);
        font-family: 'Red Hat Display';
        font-size: 22px;
        font-weight: 400;
        letter-spacing: -0.22px;
        line-height: 28px;
        display: block;
      }
    }
    &__icons {
      padding-top: 8%;
      a {
        color: var(--green);
        padding-right: 6%;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  &_right {
    padding: 4% 0 0 0.8%;
    @media (max-width: 767px) {
      padding: 0 15px;
    }
    .title {
      margin-bottom: 28px;
      @media (max-width: 767px) {
        margin: 15px 0;
      }
    }
    .description {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: -1.3px;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &__info {
      display: flex;
      padding-top: 31px;
      justify-content: space-between;
      @media (max-width: 767px) {
        flex-direction: column;
      }
      &-block {
        border-left: 2px solid var(--green);
        padding-left: 20px;
        height: 48px;
        margin-top: 9px;
        @media (max-width: 767px) {
          margin-top: 17px;
          &:first-child {
            margin-top: 0;
          }
        }
        p {
          color: var(--grey);
          font-family: 'Red Hat Display';
          font-size: 15px;
          font-weight: 400;
          line-height: 13px;
          margin-bottom: 4px;
        }
        span {
          color: var(--white);
          font-size: 32px;
          font-weight: 900;
          letter-spacing: -0.96px;
          line-height:39px;
          font-family: 'Montserrat-Bold';
        }
      }
    }
    &__button {
      margin-top: 87px;
      display: flex;
      .button {
        &.size_normal {
          width: 300px;
        }
      }
      @media (max-width: 767px) {
        margin: 30px 0;
        justify-content: space-between;
        .button {
          &:first-child {
            margin-right: 10px;
          }
          &.size_normal {
            min-width: auto;
            letter-spacing: normal;
          }
        }
      }
    }
  }
  .toggle {
    height: auto;
    border-bottom: 1px solid var(--gray-darken);
    border-top: 1px solid var(--gray-darken);
    &:last-child {
      border-top: none;
    }
    &_header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--white);
      font-family: Montserrat-Regular;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1.8px;
      line-height: 24px;
      height: 62px;
      &:active,
      &:hover,
      &:focus {
        color: var(--white);
      }
    }
    &_content {
      padding-bottom: 30px;
      a {
        color: var(--grey);
        font-family: 'Red Hat Display';
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.22px;
        line-height: 22px;
        display: block;
      }
      .icons {
        padding-top: 15%;
        display: flex;
        justify-content: space-between;
        a {
          color: var(--green);
        }
      }
    }
  }
}