.offers {
  background-color: var(--black);
  padding: 5% 0 2%;

  .title {
    margin-bottom: 125px;
    padding-top: 15px;
  }

  .zIndex {
    z-index: 1;
  }

  @media (max-width: 767px) {
    .preTitle,
    .title {
      margin-left: 10px;
    }
  }

  @media (min-width: 1200px) {
    .preTitle {
      padding-top: 80px;
      margin-bottom: 10px;
    }

    .preTitle,
    .title {
      padding-left: 25px;
    }

    .title {
      padding-top: 0;
    }

    .title span {
      white-space: nowrap;
    }

    .title {
      margin-bottom: 105px;
    }
  }

  &_block {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--grey-darken);
    background: var(--black-lighter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 23px;
    margin-bottom: 19px;
    appearance: none;
    outline: none;
    overflow: hidden;
    transition: 0.3s;
    
     .before {
      --size: 0;
      --x: 0;
      --y: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: var(--size);
      height: var(--size); 
      background: radial-gradient(circle closest-side at 200px 200px,#2ee533, #303040);
      transform: translate(-50%, -50%);
      transition: width 0.9s ease, height 0.9s ease;
    }
    &__low {
      margin-top: 50px;
    }

    &__lower {
      margin-top: 90px;
      margin-bottom: 30px;
    }

    &__high {
      margin-top: -90px;
    }

    &__higher {
      margin-top: -50px;
    }

    @media (max-width: 767px) {
      display: flex !important;
      height: 201px;
      border-radius: 14px;
      width: calc(100% - 20px) !important;
      margin: 0 auto 19px;

      &:hover {
        &::after {
          contain: none;
          background: none;
        }
      }

    }
    @media (max-width: 768px) {
      &__high {
        margin-top: 0;
      }
  
    }

    &:hover {
      border: 1px solid transparent;

      .before {
        --size: 500px;

      }
    }

    &-box {
      border-radius: 6px;
      position: relative;
      pointer-events: none;
      background: #1c1c24;
      display: block;
      line-height: 40px;
      width: 121%;
      height: 99%;
      padding: 55px 25px;
      }
       @media (max-width: 1199px) {
        &-box {
          width: 126%;
        }
    }

    h4 {
      color: var(--white);
      font-family: Montserrat-Regular;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.6px;
      margin-top: 22px;
    }

    p {
      color: var(--grey);
      font-family: 'Red Hat Display';
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
    }
  }

}

//slider
.slick-slider {
  .slick-list {
    padding-left: 0 !important;

    .slick-track {
      display: flex;
      align-items: center;

      .slick-active {
        .offers_block {
          transition: transform 0.4s;
          height: 233px;
        }
      }
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          &::before {
            color: var(--white)
          }
        }
      }

      button {
        &::before {
          color: #43434c;
          opacity: 1;
        }
      }
    }
  }
}