.offers {
  background-color: var(--black);
  padding: 6.2% 0 2%;
  @media (max-width: 1440px){
    padding: 5% 0 2%;
  }
  .title {
    margin-bottom: 125px;
    padding-top: 15px;
  }

  .zIndex {
    z-index: 1;
    padding-right: 3px;
  }

  @media (max-width: 767px) {
    padding: 30% 0 2%;
    .preTitle,
    .title {
      margin-left: 10px;
      margin-bottom: 25px;
    }
    .preTitle {
      margin-bottom: 0;
    }
    &__col {
      padding: 0;
    }

  }

  @media (min-width: 1200px) {
    .preTitle {
      padding-top: 80px;
      margin-left: 5px;
      margin-bottom: 26px;
    }

    .preTitle,
    .title {
      padding-left: 41px;
    }

    .title {
      padding-top: 0;
    }

    .title span {
      white-space: nowrap;
    }

    .title {
      margin-bottom: 115px;
    }
  }

  &_block {
    position: relative;
    appearance: none;
    margin-bottom: 19px;
    outline: none;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 6px;
    background-color: transparent;
    padding: 1px;
    height: 300px;
    width: 300px;
    border: 1px solid transparent;

    @media (min-width: 768px) and (max-width: 1025px)  {
      width: 100%;
    }
     &::before {
       --size: 0;

       content: '';
       position: absolute;
       left: var(--x);
       top: var(--y);
       width: var(--size);
       height: var(--size);
       background: radial-gradient(circle closest-side at 200px 200px,#2ee533, #303040);
       transform: translate(-50%, -50%);
       transition: width 0.9s ease, height 0.9s ease;
    }
    &__low {
      margin-top: 49px;
    }

    &__lower {
      margin-top: 90px;
      margin-bottom: 13px;
    }

    &__high {
      margin-top: -90px;
    }

    &__higher {
      margin-top: -50px;
    }

    @media (max-width: 767px) {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 25px;
      height: 201px;
      border-radius: 14px;
      width: calc(100% - 14px) !important;
      margin: 0 auto 19px;
      margin-left: 30px;
      box-shadow: 0px 3px 13px 0px #0000004f;

      &:hover {
        &::after {
          contain: none;
          background: none;
        }
      }

    }
    @media (max-width: 768px) {
      &__high {
        margin-top: 0;
      }

    }

    &:hover {
      .before {
        --size: 400px;

      }
    }

    &-box {
      display: flex;
      flex-direction: column;
      border-radius: 6px;
      position: relative;
      pointer-events: none;
      background: #1c1c24;
      line-height: 40px;
      padding: 72px 25px;
      border: 1px solid var(--grey-darken);
      height: calc(100% - 1px);
      width: 100%;
    }

    h4 {
      color: var(--white);
      font-family: Montserrat-Regular;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.6px;
      margin-top: 24px;
      margin-bottom: 3px;
    }

    p {
      color: var(--grey);
      font-family: 'Red Hat Display';
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
    }
  }

}

//slider
.slick-slider {
  .slick-list {
    padding-left: 0 !important;

    .slick-track {
      display: flex;
      align-items: center;

      .slick-active {
        .offers_block {
          transition: transform 0.4s;
          height: 233px;
          box-shadow: 0px 4px 18px 0px #000000d1;
        }
      }
    }
  }

  .slick-dots {
    li {
      &.slick-active {
        button {
          &::before {
            color: var(--white)
          }
        }
      }

      button {
        &::before {
          color: #43434c;
          opacity: 1;
        }
      }
    }
  }
}

.offers_block {

  &:hover {
    &::before {
      --size: 400px;
    }
  }
  &-box {

  }
  &::before {

  }
}