.offers {
  background-color: var(--black);
  padding: 8% 0;
  @media (max-width: 767px) {
    .preTitle,
    .title {
      margin-left: 10px;
    }
  }
  .title {
    margin-bottom: 25px;
  }
  .zIndex {
    z-index: 1;
  }
  &_block {
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--grey-darken);
    background: var(--black-lighter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 23px;
    margin-bottom: 19px;
    @media (max-width: 767px) {
      display: flex !important;
      height: 201px;
      border-radius: 14px;
      width: calc(100% - 20px) !important;
      margin: 0 auto 19px;
      &:hover {
        &::after {
          contain: none;
          background: none;
        }
      }
    }
    &:hover {
      &::after {
        content: '';
        background: linear-gradient(45deg,
                var(--grey-darken),
                var(--grey-darken),
                var(--green),
                var(--green),
                var(--green),
                var(--green),
                var(--grey-darken),
                var(--grey-darken));
        position: absolute;
        top: -2px;
        left: -2px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        filter: blur(2px);
        z-index: -1;
      }
    }

    &__lower {
      margin-top: 50px;
    }
    &__higher {
      margin-top: -50px;
    }
    h4 {
      color: var(--white);
      font-family: Montserrat-Regular;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.6px;
      margin-top: 22px;
    }
    p {
      color: var(--grey);
      font-family: 'Red Hat Display';
      font-size: 15px;
      font-weight: 400;
      line-height: 22px;
      text-align: center;
    }
  }

  //slider
  .slick-slider {
    .slick-list {
      padding-left: 0 !important;
      .slick-track {
        display: flex;
        align-items: center;
        .slick-active {
          .offers_block {
            transition: transform 0.4s;
            height: 233px;
          }
        }
      }
    }
    .slick-dots {
      li {
        &.slick-active {
          button {
            &::before {
              color: var(--white)
            }
          }
        }
        button {
          &::before {
            color: #43434c;
            opacity: 1;
          }
        }
      }
    }
  }
}